ion-content.login-content {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100%;           
  background: #f4f4f4;     
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 12px;
  background: #ffffffcc;
  backdrop-filter: blur(10px);
}

.login-item {
  margin-bottom: 16px;
  border-radius: 8px;
  --border-radius: 12px;
  --highlight-color-focused: #3b82f6;
}

.login-button {
  margin-top: 20px;
  --border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
