<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      SkeletonAPP | Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding login-content">

  <div class="intro-text" *ngIf="mostrarMensaje">
  <ion-text color="medium">
    <h2 class="ion-text-center">Para comenzar debes iniciar sesión:</h2>
  </ion-text>
</div>


  <form (ngSubmit)="capturarDatos()" #formulario="ngForm" class="login-form">
    <ion-list lines="none">
      <ion-item class="login-item">
        <ion-input
          label="Usuario"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese su correo"
          [(ngModel)]="usuario"
          name="usuario"
          required>
        </ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-input
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="contrasena"
          name="contrasena"
          required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" color="primary" class="login-button">
      Inicia sesión
    </ion-button>
  </form>
</ion-content>
