
<ion-header>
  <ion-toolbar>
    <ion-title [@fadeInTitle]>Skeleton APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido!</h2>
  <p>Usuario: {{ usuario }}</p>
  <h3>Información adicional</h3>

  <form #form="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" id="nombreInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" name="apellido" id="apellidoInput"></ion-input>
    </ion-item>

    <mat-form-field appearance="fill">
      <mat-label>Nivel de Educación</mat-label>
      <mat-select [(ngModel)]="nivel" name="nivel">
        <mat-option value="Basica completa">Básica completa</mat-option>
        <mat-option value="Media completa">Media completa</mat-option>
        <mat-option value="Universitaria completa">Universitaria completa</mat-option>
        <mat-option value="Universitaria incompleta">Universitaria incompleta</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" name="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
      <ion-button color="medium" (click)="limpiar()">Limpiar</ion-button>
      <ion-button color="primary" (click)="mostrar()">Mostrar</ion-button>
    </div>
  </form>
</ion-content>
